@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

$Poppins: 'Inter';

// colors
$dark: #2D416F;
$light: #FFFFFF;
$bg: #FFF;
$green: #4BAA79;
$lightGreen: #F3FFF1;
$darkText: #2D416F;
$lightText:#667085;
$menu: rgb(104, 134, 169);
$textColor: #818DA9;
$inputBorderColor: #E5E5E5;
$successTxt: #57678C;


// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 6px;

// padding
$padding: 6px;

// header height
$headerHeight: 85px;

// width
$width: 100%;

// sidebar width
$sidebarWidth: 20%;

// main content width
$mainWidth: 80%;

// height
$height: 100%;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}