@import '../../styles/variables.scss';

.create__register {
  display: block;
  border-radius: $borderRadius;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 23px;

  &__header__container {
    display: flex;
    justify-content: center;
    // padding: 5px;
    border-radius: $borderRadius;
    margin-bottom: 12px;

    &__text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      background: white;
      padding: 10px;
      border-radius: $borderRadius;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        // background: linear-gradient(45deg, #e0e0e0, #ffffff);
        border-radius: 8px;
        z-index: -1;
      }
    }
  }
  &__firstname,
  &__surname,
  &__email,
  &__phone,
  &__address,
  &__country {
    padding: 10px;
    border-radius: $borderRadius;
    border: none;
    font-size: 14px;
  }

  &__select {
    display: flex;
    padding: 10px;
    border-radius: $borderRadius;
    width: 100%;
  }
  &__medium {
    display: flex;
    padding: 10px;
    border-radius: $borderRadius;
    width: 100%;
  }

  &__registerBtn {
    @media (max-width: 560px) {
      width: 100%;
    }
    background: linear-gradient(to right, rgb(34, 112, 5), rgb(78, 204, 64));
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  &__citystate__holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    &__city,
    &__state {
      padding: 10px;
      border-radius: $borderRadius;
      border: none;
      font-size: 14px;
      width: 100%;
    }
  }
  &__errorBorder {
    border: 1px solid red
  }

  &__cityHolder, &__stateHolder {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
}
.error {
  color: red;
  font-size: 12px;
  font-style: italic;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: fit-content;
  margin-top: -16px;
  padding: 2px;
  border-radius: 3px;
}
.error__city, .error__state {
  color: red;
  font-size: 12px;
  font-style: italic;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: fit-content;
  margin-top: 7px;
  padding: 2px;
  border-radius: 3px;
}