@import '../../styles//variables.scss';

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__heroSection {
    @media (min-width: 560px) {
      display: flex;
      justify-content: space-between;
      padding: 60px 20px;
      height: 400px;
    }
    @media (max-width: 560px) {
      display: flex;
      flex-direction: column;
      padding: 60px 20px;
      gap: 30px;
    }
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      @media (min-width: 560px) {
        width: 48%;
      }
      @media (max-width: 560px) {
        width: 100%;
        height: 300px;
      }
      &__caption {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
      }
      &__description {
        display: flex;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        text-align: center;
      }

      &__learnmore {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          to right,
          rgb(224, 220, 234),
          rgb(238, 242, 237)
        );
        border-radius: 4px;
        color: black;
        font-weight: 600;
        border: none;
        padding: 5px 10px;
        font-size: 14px;
        width: 150px;
        height: 50px;
        cursor: pointer;
        &:hover {
          background: linear-gradient(to right, teal, rgb(76, 221, 63));
          // font-weight: 600;
          transition: left 0.3s ease-in-out;
          color: white;
        }
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      @media (min-width: 560px) {
        width: 48%;
      }
      @media (max-width: 560px) {
        width: 100%;
      }
      &__img {
        display: flex;
        width: 300px;
        height: 300px;
      }
    }
  }
  &__about__heading,
  &__welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 10px auto;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  &__relevance {
    @media (min-width: 560px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: auto;
      width: 600px;
      margin-bottom: 30px;
    }
    @media (max-width: 720px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 10px;
      //   margin-top: 20px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-bottom: 8px solid rgb(8, 8, 140);

      &__about {
        display: flex;
        font-size: 17px;
        color: black;
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: 600;
      }

      &__description {
        display: flex;
        font-size: 12px;
        text-align: justify;
        margin-top: 10px;
      }
    }
  }
  &__love__compassion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
  }
  &__compassion__detail,
  &__welcome__description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: black;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    font-style: italic;

    &__verse {
      font-size: 13px;
      color: black;
      margin: 0px auto;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }
  }

  &__disciples__teaching {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 30px auto 20px auto;

    &__img {
      @media (min-width: 560px) {
        width: 200px;
        height: 200px;
      }

      @media (max-width: 560px) {
        width: 110px;
        height: 110px;
        border-radius: 8px;
      }
    }
  }
}
