@import '../../styles/index.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  width: 100%;
  padding: 10px 10px 20px 10px;
  margin-bottom: 0px;
  background: linear-gradient(to right, rgb(22, 20, 20), rgb(15, 15, 15));
  &__logoHolder {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    &__copyright,
    &__tel,
    &__email {
      font-size: 10px;
      color: white;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__quicklinks {
      font-size: 13px;
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    &__home, &__about {
      font-size: 10px;
      color: white;
      cursor: pointer;
      margin-bottom: 7px;
    }
  }
  &__connect__socials {
    display: flex;
    gap: 20px;
    margin-top: -20px;
    margin-bottom: 10px;
  }
}
