@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

$Poppins: 'Poppins', sans-serif;

$dark: rgba(33, 63, 125, 1);
$text: rgba(84, 95, 125, 1);
$bg: rgba(255, 255, 255, 1);
$heading: rgba(84, 95, 125, 1);
$pending: rgba(233, 178, 0, 1);
$blacklist: rgba(228, 3, 59, 1);
$active: rgba(57, 205, 98, 1);
$searchBtnBg: rgba(57, 205, 204, 1);
$selectedBg: rgba(57, 205, 204, 1)